{% extends 'produtos/base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
<h1 class="mb-4">Lista de Produtos</h1>

<a href="{% url 'criar_produto' %}" class="btn btn-warning mb-3">➕ Adicionar Produto</a>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
    {% for produto in produtos %}
        <tr>
            <td>{{ produto.nome }}</td>
            <td>R$ {{ produto.preco }}</td>
            <td>{{ produto.estoque }}</td>
            <td>
                <a href="{% url 'editar_produto' produto.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'excluir_produto' produto.id %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4" class="text-center">Nenhum produto cadastrado.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}